.background {
	-fx-background-color: #000000;
}

.background-menu {
	-fx-background-color: #000000;
	-fx-background-image: url("../assets/images/background.png");
	-fx-background-position: top left;
	-fx-background-repeat: no-repeat;
}

.label {
	-fx-font-size: 11pt;
	-fx-font-family: "Helvetica", Arial, sans-serif;
	-fx-text-fill: white;
	-fx-opacity: 0.6;
}

.tab-pane {
	-fx-background-color: #000000;
}

.tab-content-area {
	-fx-background-color: #000000;
}

.tab {
	-fx-background-color: transparent;
}

.radiobutton {
	
}

.label-bright {
	-fx-font-size: 11pt;
	-fx-font-family: "Helvetica", Arial, sans-serif;
	-fx-text-fill: white;
	-fx-opacity: 1;
}

.check-box {
	-fx-font-size: 11pt;
	-fx-font-family: "Helvetica", Arial, sans-serif;
	-fx-text-fill: white;
	-fx-opacity: 1;
}

.check-box:disabled .box {
	-fx-background-color: #ccc;
}

.check-box:disabled {
	-fx-text-fill: #ccc;
	-fx-opacity: 0.5;
}

.label-simulation {
	-fx-font-size: 10pt;
	-fx-font-family: "Helvetica", Arial, sans-serif;
	-fx-text-fill: white;
	-fx-margin: 5px;
	-fx-padding: 2px;
}

.label-header {
	-fx-font-size: 32pt;
	-fx-font-family: "Helvetica", Arial, sans-serif;
	-fx-text-fill: yellow;
	-fx-opacity: 1;
	-fx-padding: 10px;
}

.table-view {
	-fx-base: #000000;
	-fx-control-inner-background: #000000;
	-fx-background-color: #000000;
	-fx-table-cell-border-color: transparent;
	-fx-table-header-border-color: transparent;
	-fx-padding: 5;
}

.table-view .column-header-background {
	-fx-background-color: transparent;
}

.text-field {
	-fx-font-size: 12pt;
	-fx-font-family: "Segoe UI Semibold";
}

/************************************************************************************************/
/******* codeparts used from http://blog.ngopal.com.np/2012/07/11/customize-scrollbar-via-css/ *******/

/* The increment and decrement button CSS class of scrollbar */
/** CSS **/

.scroll-pane {
    -fx-background-insets: 0;
    -fx-padding: 10;
    -fx-background:black;
}

.scroll-pane:focused {
    -fx-background-insets: 0;
}

.scroll-pane .corner {
    -fx-background-insets: 0;
}

/* The main scrollbar CSS class of ListView */
.scroll-bar:horizontal ,
.scroll-bar:vertical{
    -fx-background-color:transparent;
	-fx-border-color:grey;
}

/* The increment and decrement button CSS class of scrollbar */
.increment-button ,.decrement-button {
    -fx-background-color:transparent;
}

/* The main scrollbar **track** CSS class  */
.scroll-bar:horizontal .track ,
.scroll-bar:vertical .track{
     -fx-background-color: transparent;
	 -fx-background-radius: 0em;
}

/* The main scrollbar **thumb** CSS class which we drag every time (movable) */
.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color:derive(black,90%);
	-fx-background-insets: 0, 0, 0;
	-fx-background-radius: 0em;
}


/*************************************************************************************/



.button-yellow {
	-fx-padding: 5 22 5 22;
	-fx-background-color: #000000;
	-fx-font-family: "Helvetica", Arial, sans-serif;
	-fx-font-size: 18pt;
	-fx-text-fill: yellow;
	-fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.button-yellow:hover {
	-fx-background-color: #000000;
	-fx-text-fill: white;
}

.button-yellow:pressed {
	/* -fx-background-color: white; */
	-fx-text-fill: #000000;
}

.button-yellow:disabled {
	-fx-opacity: 0.4;
	/* -fx-background-color: #1d1d1d; */
	-fx-text-fill: #000000;
}

.grid-pane {
	-fx-padding: 5;
}

/******************* CHART FOR STATISTIC ***********************/

/* see http://docs.oracle.com/javafx/2/charts/css-styles.htm  **/
.chart-title {
	-fx-text-fill: white;
}

.axis-label {
	-fx-text-fill: white;
}

.chart-legend {
	-fx-background-color: transparent;
	-fx-padding: 20px;
}

/*
.chart-legend-item-symbol {
	-fx-background-radius: 0;
}*/
.chart-legend-item {
	-fx-text-fill: white;
}

.chart-plot-background {
	-fx-background-color: #f4f4f4;
}

.chart-vertical-grid-lines {
	-fx-stroke: #c0c0c0;
}

.chart-horizontal-grid-lines {
	-fx-stroke: #c0c0c0;
}

.chart-alternative-row-fill {
	-fx-fill: #e0e0e0;
	-fx-stroke: transparent;
	-fx-stroke-width: 0;
}

/* For changing the color of the lines in the chart
.default-color0.chart-series-line { -fx-stroke: #e9967a; }
.default-color1.chart-series-line { -fx-stroke: #f0e68c; }
.default-color2.chart-series-line { -fx-stroke: #dda0dd; }
*/